@using InternetStore.Domain.Entities
@model IQueryable<ProductItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeyWords;
}



<main class="catalog-page">

    <section class="sales-section">
        <div class="container">
            <h3 class="h-title">Наш асортимент</h3>
            <div class="row g-0">
                @if (Model.Any())
                {

                    @foreach (ProductItem entity in Model)
                    {

                        <div class="col-lg-4 col-md-6">
                            <div class="product-card">
                                <div class="product-card-img">
                                    <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id">
                                        <img src="~/img/@entity.TitleImagePath" alt="" class="left" />
                                    </a>
                                </div>
                                <div class="product-card-content">
                                    <h3><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id">@entity.Title</a></h3>
                                    <div class="product-card-details d-flex justify-content-between">

                                        <span>@entity.Price грн</span>


                                        <span>В наявності</span>

                                    </div>
                                </div>
                            </div>

                        </div>



                    }
                }
            </div>
        </div>
    </section>

</main>