
<main class="product-page">
<div class="container">
    
    <div class="row">
        <div class="col-md-6">
            <div class="product-image">
                <img src="/img/product1.png" alt="">
            </div>

        </div>
        
        <div class="col-md-6">
            <div class="product-page-actions">
                <div class="product-name">
                    <h3>Огірки цілі мариновані</h3>
                
                <div class="product-price">
                    <h3>Ціна: </h3>
                    <span>$99.99</span>
                </div>
                
                </div>
                
                <div class="product-description">
                <h3>Опис</h3>
                <div class="product-description-content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet </li>
                        <li>Nam hendrerit </li>
                        <li>Vivamus ac sodales erat. </li> 
                    </ul>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>
</main>
