@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InternetStore.Domain.Entities.TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeyWords;
}
<main class="catalog-page">

<section class="sales-section">
        <div class="container">
            <h3 class="h-title">Наш асортимент</h3>
            <div class="row g-0">
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/product1.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">Огірки мариновані</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                
                                    <span>$199.99</span>
                                
                                
                                    <span>В наявності</span>
                               
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

</main>