@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InternetStore.Domain.Entities.TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeyWords;
}

<main class="main">
    <section class="hero-section">
        <div class="container">
            <div class="hero-section-content">
                <h1>Наші послуги найкращий вибір</h1>
                <p>Тільки свіжі овочі та фрукти. Хороша якість та оптова торгівля.</p>
                <a class="btn btn-warning" class="nav-link active" asp-area="" asp-controller="Products" asp-action="Index">
                    В каталог
                </a>
                <a href="#banner" class="btn btn-outline-secondary">Більше</a>
            </div>
        </div>
    </section>

    <section class="banner-section" id="banner">
        <div class="container">
            <div class="banner-section-inner">
                <div class="banner-section-img">
                    <img src="/img/banner1.jpg" alt="">
                </div>

                <div class="banner-section-content">
                    <h3>@Html.Raw(Model.Title)</h3>
                    <p>@Html.Raw(Model.Text)</p>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="testcard-container">
    <div class="testcard">
                <img src="/img/icon-delivery.png" alt="Image 1">
        <div class="testcard-body">
            <h5 class="card-title">Доставка по всій країні</h5>
        </div>
    </div>

    <div class="testcard">
                <img src="/img/icon-placeholder.png" alt="Image 2">
        <div class="testcard-body">
            <h5 class="card-title">Самовивіз з магазину</h5>
        </div>
    </div>

    <div class="testcard">
                <img src="/img/icon-thumbs-up.png" alt="Image 3">
        <div class="testcard-body">
            <h5 class="card-title">Гарантія 100%</h5>
        </div>
    </div>
</div>
    </div>


</main> 