@{
    ViewData["Title"] = "Home Page";
}

<main class="main">
    <section class="hero-section">
        <div class="container">
            <div class="hero-section-content">
                <h1>Our servise best choice</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit consectetur convallis.</p>

                <a href="#" class="btn btn-warning">Buy now</a>
                <a href="#" class="btn btn-outline-secondary">Read more</a>
            </div>
        </div>
    </section>

    <section class="banner-section">
        <div class="container">
            <div class="banner-section-inner">
                <div class="banner-section-img">
                    <img src="/img/banner.jpg" alt="">
                </div>

                <div class="banner-section-content">
                    <h3>ТОВ "ВЕГФРУТ"</h3>
                    <p>Товариство з обмеженою відповідальністю "ВЕГФРУТ" Наше підприємство спеціалізується на оптовій торгівлі продуктами харчування(від 1 тонни), зокрема свіжі овочі, фрукти та плодово-овочева консервація. Наш асортимент включає широкий вибір якісних продуктів, що постачаються безпосередньо від виробників. Маємо хороший досвід експорту продуктів із Польщі, Нідерландів, Бельгії, Португалії, Литви та інших європейських  країн.Продукція компанії повністю сертифікована та відповідає всім показникам якості.Ми пропонуємо надійні поставки та високий стандарт обслуговування наших клієнтів.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="sales-section">
        <div class="container">
            <h3 class="h-title">Sales</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-XR.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBC-XR</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$199.99</span>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-CH-R.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-CH-R</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-1.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-CH-R</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-LM.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-LM</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-RS-Gold.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-RS-Gold</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-RS-Silver.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-RS-Silver</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="news-section">
        <div class="container">
            <h3 class="h-title" href="#">News</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/img/news1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Porshe on F1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                    <div class="col-md-4">
                    <div class="card">
                        <img src="/img/news2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Porshe on F1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                    <div class="col-md-4">
                    <div class="card">
                        <img src="/img/news3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Porshe on F1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main> 