@{
    ViewData["Title"] = "Product page";
}
<main class="product-page">
<div class="container">
    <h1>BBS-LM</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="produckt-image">
                <img src="/img/BBS-LM.png" alt="">
            </div>

        </div>
        
        <div class="col-md-4">
            <div class="product-page-actions">

                <div class="product-price">
                    <span>$99.99</span>
                    <small>$199.99</small>
                </div>

                <div class="product-variations">
                    <ul>
                        <li><a href="#" class="btn btn-outline-secondary active">Silver</a></li>
                        <li><a href="#" class="btn btn-outline-secondary">Gold</a></li>

                    </ul>
                </div>

                <a href="#" class="btn btn-warning add2cart-btn">Add to cart</a>
            </div>
        </div>




    </div>
     <div class="row">
        <div class="col-12">
            <div class="product-description">
                <h3>Description</h3>
                <div class="product-description-content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet, leo vel condimentum pulvinar, felis nulla cursus metus, nec scelerisque diam mi molestie dolor. </li>
                        <li>Nam hendrerit ullamcorper felis in consequat. Suspendisse potenti. Etiam elementum sapien lobortis ipsum tempor, vitae venenatis ligula rhoncus. Cras purus urna, rhoncus sed pharetra eu, maximus ac eros. Suspendisse justo lectus, elementum nec nisl ac, ultricies commodo sem.</li>
                        <li>Vivamus ac sodales erat. Sed non turpis eu mauris pharetra tempus. Donec tristique erat turpis, et pulvinar dolor dapibus vel.</li>
                        <li>In hac habitasse platea dictumst.</li>
                    </ul>
                </div>
            </div>
        </div>




    </div>

     <section class="sales-section">
        
             <h3 class="h-title">Sales</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-XR.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBC-XR</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$199.99</span>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-CH-R.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-CH-R</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-1.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-CH-R</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-LM.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-LM</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-RS-Gold.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-RS-Gold</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-RS-Silver.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-RS-Silver</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        
    </section>
</div>
</main>
