@{
    ViewData["Title"] = "Product page";
}
<main class="product-page">
<div class="container">
    
    <div class="row">
        <div class="col-md-6">
            <div class="product-image">
                <img src="/img/product1.png" alt="">
            </div>

        </div>
        
        <div class="col-md-6">
            <div class="product-page-actions">
                <div class="product-name">
                    <h3>Огірки цілі мариновані</h3>
                
                <div class="product-price">
                    <h3>Ціна: </h3>
                    <span>$99.99</span>
                </div>
                
                </div>
                
                <div class="product-description">
                <h3>Опис</h3>
                <div class="product-description-content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet </li>
                        <li>Nam hendrerit </li>
                        <li>Vivamus ac sodales erat. </li> 
                    </ul>
                </div>
            </div>
            </div>
        </div>




    




    </div>

     @* <section class="sales-section">
        
             <h3 class="h-title">Sales</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-XR.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBC-XR</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$199.99</span>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-CH-R.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-CH-R</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-1.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-CH-R</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-LM.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-LM</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-RS-Gold.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-RS-Gold</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <img src="/img/BBS-RS-Silver.png" alt="">
                        </div>
                        <div class="product-card-content">
                            <h3><a asp-area="" asp-controller="Home" asp-action="product">BBS-RS-Silver</a></h3>
                            <div class="product-card-details d-flex justify-content-between">
                                <div class="product-price">
                                    <span>$99.99</span>
                                    <small>$199.99</small>
                                </div>
                                <div class="product-actions">
                                    <a href="#" class="add2fav"><span class="fi fi-rr-heart"></span></a>
                                    <a href="#" class="add2cart"><span class="fi fi-rr-shopping-cart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        
    </section> *@
</div>
</main>
