@model ProductItem
@{
    string strTitle = "Редагувати запис";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>

<div class="container">
    <h2>@strTitle</h2>
    <div class="row">
        <div class="col-md-6">
            <form asp-area="Admin" asp-controller="ProductItems" asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DateAdded" />
                <input type="hidden" asp-for="TitleImagePath" />

                <div asp-validation-summary="All" class="mb-3"></div>
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SubTitle" class="form-label"></label>
                    <input asp-for="SubTitle" class="form-control" />
                    <span asp-validation-for="SubTitle" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Text" class="form-label"></label>
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TitleImagePath" class="form-label"></label>
                    <input type="file" name="titleImageFile" id="titleImageFile" class="form-control" accept="image/*" required="true" />
                    <div>
                        <img class="img-fluid" src="~/img/@Model.TitleImagePath " alt="none"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="MetaTitle" class="form-label"></label>
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MetaDescription" class="form-label"></label>
                    <input asp-for="MetaDescription" class="form-control" />
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MetaKeyWords" class="form-label"></label>
                    <input asp-for="MetaKeyWords" class="form-control" />
                    <span asp-validation-for="MetaKeyWords" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary admin-save-btn">Зберегти</button>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
    }
</script>
